<aside class="aside-box" id="lateral">
  <h2>Registro/Historial</h2>
  <div *ngIf="!mostrarHistorial; else mostrarHistorialTemplate">
    <button class="mostrar" (click)="mostrarOcultarHistorial()">Mostrar historial</button>
  </div>
  <ng-template #mostrarHistorialTemplate>
    <div id="result" class="result-content">
      <a *ngFor="let operacion of historial" style="display: block;">{{ operacion }}</a>
    </div>
    <button class="mostrar" id="hide" (click)="mostrarOcultarHistorial()">Ocultar historial</button>
  </ng-template>

  <button  class="clean" (click)="limpiar()">Limpiar Historial</button>
</aside>
